canvas {
  width: 100%;
  height: 100%;
}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.debug-display {
  margin: 0;
  position: fixed;
  left: 5px;
  top: 2px;
}

.debug-display h4 {
  margin: 0;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
}

.game-display {
  margin: 0;
  position: fixed;
  right: 5px;
  top: 2px;
  background-color: gray;
  font-family: sans-serif;
}

.game-display h4 {
  margin-left: 3cm;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
}

.game-display p {
  margin-right: 5cm;
 }

.button {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px; /* width of button */
  height: 150px; /* height of button */
}

.startmenu h1 {
text-align: center;
}

.startmenu p {
text-align: center;
}

body.startmenu{
  background-color: green;
}