canvas {
  width: 100%;
  height: 100%;
}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.game-over {
  position: absolute;
  left: 45vw;
  visibility: hidden;
}
.game-over h3, h1{
  margin: auto;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
  text-align: center;
  font-family: verdana;
}

.debug-display{
  background-color: gray;
  opacity: 0.5;
}
.debug-display {
  position: fixed;
  left: 5px;
  top: 2px;
}
.debug-display h4 {
  margin: 0;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
  font-size: 20px;
  font-family: Verdana;
}

.game-display {
  margin: 0;
  position: fixed;
  right: 5px;
  top: 2px;
  background-color: gray;
  font-family: verdana;
  opacity: 0.5;
}

.game-display h4 {
  margin-left: 3cm;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
  font-size: 20px;
}

.game-display p {
  margin-right: 5cm;
  font-size: 20px;
 }

.button {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px; /* width of button */
  height: 150px; /* height of button */
  font-size: 25px;
}

.startmenu h1 {
text-align: center;
  font-family: Verdana;
  font-size: 40px;

}

.startmenu p {
text-align: center;
  font-family: Verdana;
  font-size: 40px;
  color: white;
}

