canvas {
  width: 100%;
  height: 100%;
}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.game-over {
  position: absolute;
  left: 45vw;
  visibility: hidden;
}
.game-over h4, h1{
  margin: auto;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
  text-align: center;
}

.debug-display {
  position: fixed;
  left: 5px;
  top: 2px;
}
.debug-display h4 {
  margin: 0;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
}

.game-display {
  margin: 0;
  position: fixed;
  right: 5px;
  top: 2px;
  background-color: gray;
  font-family: sans-serif;
}

.game-display h4 {
  margin: 0;
  color: #FFFF00;
  text-shadow: 2px 2px #404040;
}

.game-display p {
  margin-right: 5cm;
 }
